<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/mazer-1.0.0/dist/assets/css/bootstrap.css">

    <link rel="stylesheet" href="/mazer-1.0.0/dist/assets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="/mazer-1.0.0/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/mazer-1.0.0/dist/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/mazer-1.0.0/dist/assets/css/app.css">
    <link rel="shortcut icon" href="/mazer-1.0.0/dist/assets/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="#"><img src="/mazer-1.0.0/dist/assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">                        

                        <li class="sidebar-item">
                            <a href="/Default/Index" class='sidebar-link'>
                                <i class="bi bi-house-door-fill"></i>
                                <span>Ana Sayfa</span>
                            </a>
                        </li>

                        <hr class="sidebar-divider" />

                        <li class="sidebar-item @(ViewContext.RouteData.Values["controller"].ToString() == "Department" ? "active" : "")">
                            <a href="/Department/Index" class='sidebar-link'>
                                <i class="bi bi-diagram-3-fill"></i>
                                <span>Bölümler</span>
                            </a>
                        </li>

                        <li class="sidebar-item @(ViewContext.RouteData.Values["controller"].ToString() == "Doctor" ? "active" : "")">
                            <a href="/Doctor/Index" class='sidebar-link'>
                                <i class="bi bi-person-badge-fill"></i>
                                <span>Doktorlar</span>
                            </a>
                        </li>

                        <li class="sidebar-item @(ViewContext.RouteData.Values["controller"].ToString() == "AllAppointment" ? "active" : "")">
                            <a href="/AllAppointment/Index" class='sidebar-link'>
                                <i class="bi bi-calendar-week-fill"></i>
                                <span>Doktor Randevuları</span>
                            </a>
                        </li>

                        <li class="sidebar-item @(ViewContext.RouteData.Values["controller"].ToString() == "Appointment" ? "active" : "")">
                            <a href="/Appointment/Index" class='sidebar-link'>
                                <i class="bi bi-calendar-check-fill"></i>
                                <span>Hasta Randevuları</span>
                            </a>
                        </li>

                        <hr class="sidebar-divider" />

                        <li class="sidebar-item @(ViewContext.RouteData.Values["controller"].ToString() == "Banner" ? "active" : "")">
                            <a href="/Banner/Index" class='sidebar-link'>
                                <i class="bi bi-image-fill"></i>
                                <span>Öne Çıkan Alan</span>
                            </a>
                        </li>

                        <li class="sidebar-item @(ViewContext.RouteData.Values["controller"].ToString() == "About" ? "active" : "")">
                            <a href="/About/Index" class='sidebar-link'>
                                <i class="bi bi-info-circle-fill"></i>
                                <span>Hakkımızda</span>
                            </a>
                        </li>

                        <li class="sidebar-item @(ViewContext.RouteData.Values["controller"].ToString() == "Service" ? "active" : "")">
                            <a href="/Service/Index" class='sidebar-link'>
                                <i class="bi bi-briefcase-fill"></i>
                                <span>Hizmetler</span>
                            </a>
                        </li>                
                        
                        <li class="sidebar-item @(ViewContext.RouteData.Values["controller"].ToString() == "Testimonial" ? "active" : "")">
                            <a href="/Testimonial/Index" class='sidebar-link'>
                                <i class="bi bi-chat-quote-fill"></i>
                                <span>Değerlendirmeler</span>
                            </a>
                        </li>

                        <li class="sidebar-item @(ViewContext.RouteData.Values["controller"].ToString() == "Contact" ? "active" : "")">
                            <a href="/Contact/Index" class='sidebar-link'>
                                <i class="bi bi-envelope-fill"></i>
                                <span>İletişim</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-content">
                @RenderBody()
            </div>

        </div>
    </div>
    <script src="/mazer-1.0.0/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/mazer-1.0.0/dist/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/mazer-1.0.0/dist/assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="/mazer-1.0.0/dist/assets/js/pages/dashboard.js"></script>

    <script src="/mazer-1.0.0/dist/assets/js/main.js"></script>
</body>

</html>